.App {
  text-align: left;
}

.chart-container {
  height: 450px;
  width: 600px;
}

.settings {
  display: block;
  position: absolute;
  text-align: right;
  right: 15px;
  top: 0px;
}

.sensor_readings {
  display: flex;
  margin-top: 20px;
}

.knob_container {
  margin-right: 10px;
  margin-left: 10px;
}

.readings_label {
  text-align: left;
  margin-left: 20px;
}

.min_max_settings {
  margin-top: 10px;
}

.dial_cluster {
  width: fit-content;
  margin-right: 100px;
}

.board_cluster {
  display: inline-flex;
  margin-bottom: 100px;
}

.status {
  margin-bottom: 15px;
}
