.App {
  text-align: left;
}

body {
  background-color: black;
  color: white;
}

.chart-container {
  height: 450px;
  width: 600px;
}

.settings {
  display: block;
  position: absolute;
  text-align: right;
  right: 15px;
  top: 0px;
}

.sensor_readings {
  display: flex;
  margin-top: 20px;
}

.knob_container {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.readings_label {
  text-align: left;
  margin-left: 20px;
}

.min_max_settings {
  margin-top: 10px;
}

.dial_cluster {
  margin-right: 50px;
  margin-top: 10px;
}

.board_cluster {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
}

.solenoid_cluster{
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 30px
}

.status {
  margin-bottom: 15px;
}

.solenoid_control {
  font-size: 30px;
}

.on_selected {
  background-color: rgb(28, 177, 28);
}

.off_selected {
  background-color: red;
}

.sol_button {
  font-size: 30px;
  height: 45px;
  width: 90px;
}

.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
