.App {
  text-align: left;
}

body {
  background-color: black;
  color: white;
}

.chart-container {
  height: 450px;
  width: 600px;
}

.settings {
  display: block;
  position: absolute;
  text-align: right;
  right: 15px;
  top: 0px;
}

.two-column-layout {
  display: flex;
  justify-content: space-between;  /* Distribute the two columns */
  align-items: flex-start;
}


.left-column {
  margin-top: 10px;
  flex: 1;
}

.right-column {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sensor_readings {
  display: flex;
  margin-top: 20px;
}

.knob_container {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.readings_label {
  text-align: left;
  margin-left: 20px;
}

.min_max_settings {
  margin-top: 10px;
}

.dial_cluster {
  margin-right: 50px;
  margin-top: 10px;
}

.board_cluster {
  display: inline-grid;
  grid-template-columns: repeat(1, auto);
}

.calc_board_cluster {
  display: inline-grid;
  grid-template-columns: repeat(1, auto);
}

.solenoid_cluster{
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 30px;
  text-align: left;
}

.status {
  margin-bottom: 15px;
}

.control_button {
  font-size: 15px;
  height: 45px;
  width: 90px;
}

.solenoid_control {
  font-size: 30px;
}

.on_selected {
  background-color: rgb(28, 177, 28);
}

.off_selected {
  background-color: red;
}

.sol_button {
  font-size: 30px;
  height: 45px;
  width: 90px;
}

.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: -1;
}

.auto-ignition {
  margin-top: 10px;
  display: flex;
  justify-content: right; /* center */
  text-align: right;
  right: 15px;
}

.auto-ignition button {
  width: 140px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  color: white;
  font-size: 22px; /* Adjust font size as needed */
  font-weight: bold;
  border: none;
  border-radius: 5px; /* Optional: add rounded corners */
  cursor: pointer;
  display: block;
}

/* IGNITE state: blue background */
.auto-ignition-button.ignite {
  background-color: blue;
}

.auto-ignition-button.ignite:hover {
  background-color: darkblue; 
}

/* ABORT state: red background */
.auto-ignition-button.abort {
  background-color: red;
}

.auto-ignition-button.abort:hover {
  background-color: darkred; 
}

/* Disabled button style */
.auto-ignition-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.auto-ignition-button:disabled:hover {
  background-color: gray;
  cursor: not-allowed;
}